/* ===========more-info========== */
.moreInfo{
    background-color: var(--bg-gray2);
    border-top: 1px solid #e6e4e4;
}
.moreInfo ul{
    padding-left: 0;
    /* margin-left: 20px; */
}
.moreInfo ul li{
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 3px;
    margin-top: 5px;
}
.moreInfo ul li a{
    color: black;
    font-size: 14px;
}
.moreInfo ul li:hover a{
    color: var(--text-blue2);
}
.moreInfo ul li span:last-child{
    transition: all 0.2s;
}
.moreInfo ul li:hover span:last-child{
    padding-left: 2px;
    transition: all 0.2s;
}
.moreInfo ul li span:nth-child(2){

}
.moreInfo hr{
    width: 100px;
    height: 3px;
    margin: auto;
    background-color: #e6e4e4;
}
.moreInfo__tvkt--title,
.moreInfo__tt--title,
.moreInfo__tlbg--title{
    font-size: var(--font-h3-size-mobile);
    font-weight: bold;
    color: var(--text-blue);
}



/* ===========end more-info========== */

